# Compiled object files
*.o
*.obj

# Executable and shared objects
*.exe
*.out
*.so
*.dll
*.dylib

# Generated moc files
moc_*.cpp

# Qt artifacts
*.qm
*.app/

# Build directories
build/
build-android/
cmake-build-*/
.vscode/
*.apk
*.log

# IDE
.idea/
*.swp
*.swo
*.user
#bin, personal files 
dnd_tracker
.txt
*.json
*.pdf